div {
  border: 3px solid black;
  margin: 3px;
  padding: 5px;
}

.dashboard {
  display: grid;
  grid-template-columns: [first] 250px [line2] 125px [line2mid] 125px [line3] 250px [line4] 250px [last];
  grid-template-rows: [row1-start] 350px [row1-end] 100px [midrow] 600px [lastline];
  background-color: slategrey;
  color: black;
  font-family: "Papyrus";
}

.sidebar {
  grid-column-start: first;
  grid-column-end: line2;
  grid-row-start: row1-start;
  grid-row-end: lastline;
  place-items: center;
  background-color: slategrey;
}

.reviews {
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: row1-start;
  grid-row-end: midrow;
  background-color: slategrey;
}

.posReviews {
  grid-column-start: line2;
  grid-column-end: line2mid;
  grid-row-start: row1-end;
  grid-row-end: midrow;
  background-color: rgb(79, 151, 90);
  border: none;
}

.negReviews {
  grid-column-start: line2mid;
  grid-column-end: line3;
  grid-row-start: row1-end;
  grid-row-end: midrow;
  background-color: rgb(206, 101, 101);
  border: none;
}

.avg {
  grid-column-start: line3;
  grid-column-end: line4;
  grid-row-start: row1-start;
  grid-row-end: midrow;
  background-color: slategrey;
}

.sentAnalysis {
  grid-column-start: line4;
  grid-column-end: last;
  grid-row-start: row1-start;
  grid-row-end: midrow;
  background-color: slategrey;
}

.webVisitors {
  grid-column-start: line2;
  grid-column-end: last;
  grid-row-start: midrow;
  grid-row-end: lastline;
  background-color: slategrey;
}

